.cover-btn {
    margin: .5rem .5rem 0 0;
    padding: .4rem;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    font-size: 1rem;
    color: #AFAFAD;
    opacity: 0;
    transition: linear .2s;
}

.cover-btn:hover {
    background-color: #EFEFEF;
}

.title-section {
    margin-bottom: 2rem;
}

.title-section:hover .btn-show {
    opacity: 1;
}

#title {
    margin-top: .8rem;
    border: none;
    font-size: 2.4rem;
    font-weight: 900;
}

#title:focus-visible {
    outline: none;
}